    <input type="checkbox" id="chk" aria-hidden="true">

    <!-- Sign up Form -->
    <div class="signup">
      <form method="POST" action="{{ url_for('register') }}">
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text" name="username" placeholder="User name" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Sign up</button>
      </form>
    </div>

    <!-- Login Form -->
    <div class="login">
      <form method="POST" action="{{ url_for('login') }}">
        <label for="chk" aria-hidden="true">Login</label>
        <input type="text" name="username" placeholder="User name" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>